body {
    font-family: Arial, sans-serif;
    background: black;
    color: #00ff00;
    text-align: center;
}

.box {
    background: #111;
    width: 320px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 25px red;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: red;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkred;
}

#terminal {
    display: none;
    white-space: pre-line;
}